.downloadAppWrapper{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
  width: 350px;
}

.downloadAppHeader{
  padding: 20px 0 ;
  text-align: center;
  width: 100%;
}