.sideBarModalWindowContainer {
  position: fixed;
  top: 0;
  left: calc(74px);
  transform: translateX(-100%);

  z-index: 1 ;
  width: 396px;
  height: 100vh;
  border-radius: 0 16px 16px 0;
  padding: 8px 0;
  background-color: white;

  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}