.applicationPolicyWrapper{
  display: flex;
  flex-direction: column;

}
.applicationPolicyText{
  font-weight: 400;
  color: #737373;
  font-size: 12px;
  text-align: center;
}
.applicationPolicyLink{
  font-size: 12px;
  color: #0a396f;
}