.authFormContainer{
  width: 350px;
  padding: 40px;
  border: 1px solid #DBDBDB;

  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 350px;
}

.authLogoContainer{
  margin: 0 0 0 0;
}