.authFormNavigatorContainer{
  display: flex;
  align-items: center;
  justify-content: center;


  padding: 20px 20px;
  border: 1px solid #DBDBDB;
  width: 350px;
  max-width: 350px;
  margin-top: 10px;
}